body {
	font-family: Cursive, sans-serif;
}

#header-nav {
	background-color: #757373;
	border-radius: 0;
	border: 2px solid #1B1212;
}

#set {
	background-color: rgba(73, 64, 71, 0.57);
	border-radius: 0;
	color: black;
	margin-left: 5%;
	margin-right: 5%;
}
#set h3 {
	margin-top: 0;
}
.navbar-brand {
  padding-top: 15px;
}
@media (max-width:767px) {
#collapsable-nav {
	background-color: #fffeff;
}

#collapsable-nav ul li a {
	color: rgb(6, 6, 6);
	font-size: 16px;
}
#collapsable-nav .bor {
	border-top: 1.5px solid black;
}
}

.navbar-brand h1 {
  font-size: 1.5em;
  color: #0B0707;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
